body {
  font-family: Arial, sans-serif;
  /* background-color: #f5f5f5; */
  color: #333;
  background-image: url("https://wallpaperbat.com/img/812162-100best-website-background-image-100-free-download-pexels-stock-photo.jpg");
}

header {
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  width: 50%;
 
  
}
/* 
header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  height: 100px; 
  background-color: #007bff;
  padding: 20px;
  text-align: center;
  color: #fff;
} */
header h1 {
  font-size: 32px;
}

main {
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  
}

.calculator {
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.next-btn, .calculate-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.next-btn:hover, .calculate-btn:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  border-radius: 40px;
  margin-left: 25%;
  margin-bottom: 0.5%;
}
.next-btn ,.calculate-btn{
  display: block;
  width: 150px; /* Set a fixed width here, adjust as needed */
  margin: 0 auto;/* This centers the button horizontally */
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.next-btn:hover{
  background-color: #0056b3;
}

.welcome{
  border: 3px solid black;
  border-radius: 40px;
  height: 180px;

  
}
.welcome a{
  text-decoration: none;
}

.new{
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  width: 90%;
}

.news img{
  margin-top: 20px;
}

.fam img{
margin-left: -60%;
margin-top: -90%;
}


.op button{
  border-radius: 300px;
}

.hom img{
  
margin-left: -60%;
margin-top: -90%;
width: 90%;
margin-right: 70%;
padding-top: 10%;
}

.foo img{
  margin-left: -60%;
margin-top: -90%;
width: 90%;
margin-right: 80%;
padding-top: 10%;
}

.wat img{
  margin-left: -60%;
margin-top: -90%;
width: 90%;
margin-right: 80%;
padding-top: 10%;
}

.ho img{
  margin-left: -60%;
  margin-top: -90%;
  width: 90%;
  margin-right: 80%;
  padding-top: 10%;
}

.wast img{
  margin-left: -60%;
  margin-top: -90%;
  width: 90%;
  margin-right: 80%;
  padding-top: 10%;
  
}
.wastpro img{
  margin-left: -60%;
  margin-top: -90%;
  width: 90%;
  margin-right: 80%;
  padding-top: 10%;
}

.transport img{
  margin-left: -60%;
  margin-top: -90%;
  width: 90%;
  margin-right: 80%;
  padding-top: 10%;
}
.calculator1 {
  background-color: #fff;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 290px;
  margin-top: 0px;
}
.calculator1 a{
  text-decoration: none;
}
/* .logo-container {
  display: inline-block;
  vertical-align: top;
  margin-top: -104%;
  padding-right: 20%;

}

.logo {
  width: 120px; 
  height: auto;
  padding: 20px;
} */